body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.new1{
border-radius: 6px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
width: 300px;
padding:20px;
}
.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: arial;
  padding: 12px;
}
.notification{
  display: flex;
  background-color: rgb(49, 109, 245);
  color: white;
  padding: 3px;
  border-radius: 20px;
   padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 14px;
  font-weight: bold;
}

.cat-pic{
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 30px;
  margin-right: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
.cat-info{
  display: inline-block;
  vertical-align: middle;
  padding-right: 130px;
  margin-left: 2px;
  
}
.n1{
font-weight: bold;
font-size: 14px;
margin-bottom: 2px;
}
.n2{
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 2px;
}
.n3{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
}
button{
 vertical-align: middle;
 display: inline-block;
 background-color: rgb(37, 116, 165);
 color: white;
 border: none;
 border-radius: 6px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 12px;
 padding-right: 12px;
 font-size: 14px;
}
.row-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.followers{
  border-radius: 6px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
width: 360px;
padding:20px;
margin-top: 50px;
}

.header1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: arial;
  background-color: rgb(120, 82, 178);
  color: white;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  margin-top: 40px;
}
.download{
  background-color: rgb(120, 82, 178);
  color: white;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  
  border-color: white;
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
.text-box{
  width: 500px;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 30px;
  border-radius: 15px;
  padding-left: 20px;
}
.home-link{
  font-weight: bold;
}
.container{
 font-family: arial;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.email-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  max-width: 370px;
}
.cat01{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}
.email-pic{
  margin-right: 10px;
}

.email-content{
  margin-left: 5px;
  flex: 1;
}
.email-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.promot{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}
.spam{
  font-size: 14px;
  color: rgb(113, 113, 113);
}
.email-name{
  font-size: 18px;
  font-weight: bold;
}
.email-time{
   color: rgb(113, 113, 113);
   font-size: 14px;
}
.inboxes{
  font-size: 14px;
  color: rgb(120, 120, 120);
  margin-bottom: 20px;
}
div {
  font-family: Arial;
}

.tweet {
  display: flex;
  flex-direction: row;
  width: 420px;
  margin-top: 50px;
  margin-left: 20px;
}

.profile-picture-column {
  margin-right: 10px;
}

.profile-picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.tweet-column {
  flex: 1;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.tweet-author {
  font-weight: bold;
  margin-right: 5px;
}

.tweet-author-handle {
  color: rgb(111, 111, 111);
}

.tweet-content {
  line-height: 20px;
  margin-bottom: 15px;
}

.video-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 15px;
  overflow: hidden;
}

.thumbnail-column {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 220, 220);
  margin-right: 10px;
}

.video-info-column {
  flex: 1;
}

.video-website {
  color: rgb(111, 111, 111);
  margin-bottom: 3px;
}

.video-title {
  line-height: 22px;
}

